@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ThinIta.eot']}");
    src: local("Helvetica Now Display Thin Ita"), local("HelveticaNowDisplay-ThinIta"), url("#{resource['font/HelveticaNowDisplay-ThinIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ThinIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ThinIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ThinIta.ttf']}") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Light.eot']}");
    src: local("Helvetica Now Display Light"), local("HelveticaNowDisplay-Light"), url("#{resource['font/HelveticaNowDisplay-Light.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Light.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Light.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Light.ttf']}") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-BoldIta.eot']}");
    src: local("Helvetica Now Display Bold Ita"), local("HelveticaNowDisplay-BoldIta"), url("#{resource['font/HelveticaNowDisplay-BoldIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-BoldIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-BoldIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-BoldIta.ttf']}") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-RegIta.eot']}");
    src: local("Helvetica Now Display Reg Ita"), local("HelveticaNowDisplay-RegIta"), url("#{resource['font/HelveticaNowDisplay-RegIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-RegIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-RegIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-RegIta.ttf']}") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtLtIta.eot']}");
    src: local("Helvetica Now Display ExtLt Ita"), local("HelveticaNowDisplay-ExtLtIta"), url("#{resource['font/HelveticaNowDisplay-ExtLtIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtLtIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtLtIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtLtIta.ttf']}") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-MedIta.eot']}");
    src: local("Helvetica Now Display Med Ita"), local("HelveticaNowDisplay-MedIta"), url("#{resource['font/HelveticaNowDisplay-MedIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-MedIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-MedIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-MedIta.ttf']}") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtLt.eot']}");
    src: local("Helvetica Now Display ExtLt"), local("HelveticaNowDisplay-ExtLt"), url("#{resource['font/HelveticaNowDisplay-ExtLt.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtLt.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtLt.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtLt.ttf']}") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtBlk.eot']}");
    src: local("Helvetica Now Display ExtBlk"), local("HelveticaNowDisplay-ExtBlk"), url("#{resource['font/HelveticaNowDisplay-ExtBlk.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtBlk.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtBlk.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtBlk.ttf']}") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Bold.eot']}");
    src: local("Helvetica Now Display Bold"), local("HelveticaNowDisplay-Bold"), url("#{resource['font/HelveticaNowDisplay-Bold.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Bold.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Bold.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Bold.ttf']}") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtBdIta.eot']}");
    src: local("Helvetica Now Display ExtBd Ita"), local("HelveticaNowDisplay-ExtBdIta"), url("#{resource['font/HelveticaNowDisplay-ExtBdIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtBdIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtBdIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtBdIta.ttf']}") format("truetype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Regular.eot']}");
    src: local("Helvetica Now Display Regular"), local("HelveticaNowDisplay-Regular"), url("#{resource['font/HelveticaNowDisplay-Regular.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Regular.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Regular.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Regular.ttf']}") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtBlkIta.eot']}");
    src: local("Helvetica Now Display ExBlk It"), local("HelveticaNowDisplay-ExtBlkIta"), url("#{resource['font/HelveticaNowDisplay-ExtBlkIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtBlkIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtBlkIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtBlkIta.ttf']}") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Thin.eot']}");
    src: local("Helvetica Now Display Thin"), local("HelveticaNowDisplay-Thin"), url("#{resource['font/HelveticaNowDisplay-Thin.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Thin.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Thin.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Thin.ttf']}") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-LightIta.eot']}");
    src: local("Helvetica Now Display Light Ita"), local("HelveticaNowDisplay-LightIta"), url("#{resource['font/HelveticaNowDisplay-LightIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-LightIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-LightIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-LightIta.ttf']}") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtraBold.eot']}");
    src: local("Helvetica Now Display ExtBd"), local("HelveticaNowDisplay-ExtraBold"), url("#{resource['font/HelveticaNowDisplay-ExtraBold.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtraBold.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtraBold.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtraBold.ttf']}") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Medium.eot']}");
    src: local("Helvetica Now Display Medium"), local("HelveticaNowDisplay-Medium"), url("#{resource['font/HelveticaNowDisplay-Medium.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Medium.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Medium.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Medium.ttf']}") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-HairlineI.eot']}");
    src: local("Helvetica Now Display Hairline"), local("HelveticaNowDisplay-HairlineI"), url("#{resource['font/HelveticaNowDisplay-HairlineI.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-HairlineI.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-HairlineI.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-HairlineI.ttf']}") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-BlackIta.eot']}");
    src: local("Helvetica Now Display Black Ita"), local("HelveticaNowDisplay-BlackIta"), url("#{resource['font/HelveticaNowDisplay-BlackIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-BlackIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-BlackIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-BlackIta.ttf']}") format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Black.eot']}");
    src: local("Helvetica Now Display Black"), local("HelveticaNowDisplay-Black"), url("#{resource['font/HelveticaNowDisplay-Black.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Black.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Black.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Black.ttf']}") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Hairline.eot']}");
    src: local("Helvetica Now Display Hairline"), local("HelveticaNowDisplay-Hairline"), url("#{resource['font/HelveticaNowDisplay-Hairline.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Hairline.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Hairline.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Hairline.ttf']}") format("truetype");
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 14px;
    background-color: white;
    margin: 0;
}

html {
    font-size: 14px;
}


.nopad {
    padding: 0;
}

.topbar {
    height: 70px;
    background-color: white;
    position: fixed;
    left: 250px;
    top:0;
    right: 0;
    border-bottom: 1px solid rgba(92, 92, 92, 0.3);
    z-index: 997;
    display: flex;
    justify-content: flex-end;
}

.layout-menu-container {
    position: fixed;
    width: 250px;
    height:100%;
    z-index: 999;
    background-color: rgba(47, 46, 92, 0.05);
    border: solid 1px rgba(92, 92, 92, 0.3);
    top: 0;
    left: 0;
}

.layout-main {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin-left:250px;

}

.layout-content {
    padding: 16px;
    flex: 1 1 0;
    margin-right: 0px;
}

.route-bar {

    background-color: #ffffff;
    border-bottom: 1px solid rgba(92, 92, 92, 0.3);
    min-height: 32px;
    left: 0;
    right: 0;
}

.layout-logo {
    margin-top: -10px;
    margin-bottom: -20px;
}

.menu-title {
    padding-top: 15px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.3em;
    color: #2f2e5c;
}

.route-bar .route-bar-breadcrumb {
    padding: 6px 25px;
    display: inline-block;
}
.route-bar .route-bar-breadcrumb li {
    margin-right: 0.25em;
    list-style-type: none;
    display: inline-block;
    color: #000;
}
.route-bar .route-bar-breadcrumb li a {
    color: #000;
}
.route-bar .route-bar-breadcrumb i, .layout-wrapper .route-bar .route-bar-breadcrumb span {
    color: #000;
}

.secondary-button {
    background: rgba(47, 46, 92, 0.08);
    border-color: transparent;
    color: #6F6EDB;
}

.dialogTitle {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2f2e5c;
}

.login-topbar {
    height: 70px;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0;
    right: 0;
    z-index: 997;
    box-shadow: 0 2px 12px rgba(0,0,0,.12);
}

.login-content {
    padding-top: 120px;
}

.login-card {
    border-radius: 4px;
    background-color: white;
    width: 510px;
    box-shadow: 0 2px 8px rgba(0,0,0,.12);
    padding: 48px;
    margin-top:120px;
    margin: 0 auto;
}

.logoutLink, .logoutLink:visited {
    color: #2f2e5c;
}

body .form-field > label{
    display: block;
    width: 100%;
    height: 14px;
    white-space: nowrap;
    padding: 5px 0;
    border: none;
    box-sizing: content-box;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #5c5c5c;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000;
}

.booking-card{
    padding:0;
}

.booking-card .booking-card-header {
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.booking-card .booking-card-header img {
    width:100%;
    height:100%;
}

.booking-card .booking-card-content{
    padding: 40px 15px 10px 20px;
}

.booking-card .booking-card-content img {
    width: 48px;
    height: 48px;
    margin: -65px 0 0 -5px;
    background-color: white;
    border-radius: 50%;
}

.booking-card .booking-card-content .booking-card-organizer {
    position: relative;
    top: -32px;
    left: 50px;
    font-weight: bold;
}

.booking-card .booking-card-content .ui-divider{
    padding-right: 10px;
    padding-left:10px;
}

.booking-card .booking-card-button .ui-button {
    float: right;
    width: 36px;
    height: 36px;
    margin: -20px 24px 0 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.card{
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.secondary-button {
    background: rgba(47, 46, 92, 0.08) !important;
    border-color: transparent !important;
    color: #6F6EDB !important;
}


