@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ThinIta.eot']}");
    src: local("Helvetica Now Display Thin Ita"), local("HelveticaNowDisplay-ThinIta"), url("#{resource['font/HelveticaNowDisplay-ThinIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ThinIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ThinIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ThinIta.ttf']}") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Light.eot']}");
    src: local("Helvetica Now Display Light"), local("HelveticaNowDisplay-Light"), url("#{resource['font/HelveticaNowDisplay-Light.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Light.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Light.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Light.ttf']}") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-BoldIta.eot']}");
    src: local("Helvetica Now Display Bold Ita"), local("HelveticaNowDisplay-BoldIta"), url("#{resource['font/HelveticaNowDisplay-BoldIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-BoldIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-BoldIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-BoldIta.ttf']}") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-RegIta.eot']}");
    src: local("Helvetica Now Display Reg Ita"), local("HelveticaNowDisplay-RegIta"), url("#{resource['font/HelveticaNowDisplay-RegIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-RegIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-RegIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-RegIta.ttf']}") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtLtIta.eot']}");
    src: local("Helvetica Now Display ExtLt Ita"), local("HelveticaNowDisplay-ExtLtIta"), url("#{resource['font/HelveticaNowDisplay-ExtLtIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtLtIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtLtIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtLtIta.ttf']}") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-MedIta.eot']}");
    src: local("Helvetica Now Display Med Ita"), local("HelveticaNowDisplay-MedIta"), url("#{resource['font/HelveticaNowDisplay-MedIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-MedIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-MedIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-MedIta.ttf']}") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtLt.eot']}");
    src: local("Helvetica Now Display ExtLt"), local("HelveticaNowDisplay-ExtLt"), url("#{resource['font/HelveticaNowDisplay-ExtLt.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtLt.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtLt.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtLt.ttf']}") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtBlk.eot']}");
    src: local("Helvetica Now Display ExtBlk"), local("HelveticaNowDisplay-ExtBlk"), url("#{resource['font/HelveticaNowDisplay-ExtBlk.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtBlk.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtBlk.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtBlk.ttf']}") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Bold.eot']}");
    src: local("Helvetica Now Display Bold"), local("HelveticaNowDisplay-Bold"), url("#{resource['font/HelveticaNowDisplay-Bold.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Bold.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Bold.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Bold.ttf']}") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtBdIta.eot']}");
    src: local("Helvetica Now Display ExtBd Ita"), local("HelveticaNowDisplay-ExtBdIta"), url("#{resource['font/HelveticaNowDisplay-ExtBdIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtBdIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtBdIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtBdIta.ttf']}") format("truetype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Regular.eot']}");
    src: local("Helvetica Now Display Regular"), local("HelveticaNowDisplay-Regular"), url("#{resource['font/HelveticaNowDisplay-Regular.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Regular.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Regular.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Regular.ttf']}") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtBlkIta.eot']}");
    src: local("Helvetica Now Display ExBlk It"), local("HelveticaNowDisplay-ExtBlkIta"), url("#{resource['font/HelveticaNowDisplay-ExtBlkIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtBlkIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtBlkIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtBlkIta.ttf']}") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Thin.eot']}");
    src: local("Helvetica Now Display Thin"), local("HelveticaNowDisplay-Thin"), url("#{resource['font/HelveticaNowDisplay-Thin.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Thin.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Thin.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Thin.ttf']}") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-LightIta.eot']}");
    src: local("Helvetica Now Display Light Ita"), local("HelveticaNowDisplay-LightIta"), url("#{resource['font/HelveticaNowDisplay-LightIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-LightIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-LightIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-LightIta.ttf']}") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-ExtraBold.eot']}");
    src: local("Helvetica Now Display ExtBd"), local("HelveticaNowDisplay-ExtraBold"), url("#{resource['font/HelveticaNowDisplay-ExtraBold.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-ExtraBold.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-ExtraBold.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-ExtraBold.ttf']}") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Medium.eot']}");
    src: local("Helvetica Now Display Medium"), local("HelveticaNowDisplay-Medium"), url("#{resource['font/HelveticaNowDisplay-Medium.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Medium.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Medium.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Medium.ttf']}") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-HairlineI.eot']}");
    src: local("Helvetica Now Display Hairline"), local("HelveticaNowDisplay-HairlineI"), url("#{resource['font/HelveticaNowDisplay-HairlineI.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-HairlineI.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-HairlineI.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-HairlineI.ttf']}") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-BlackIta.eot']}");
    src: local("Helvetica Now Display Black Ita"), local("HelveticaNowDisplay-BlackIta"), url("#{resource['font/HelveticaNowDisplay-BlackIta.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-BlackIta.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-BlackIta.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-BlackIta.ttf']}") format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Black.eot']}");
    src: local("Helvetica Now Display Black"), local("HelveticaNowDisplay-Black"), url("#{resource['font/HelveticaNowDisplay-Black.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Black.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Black.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Black.ttf']}") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Now Display";
    src: url("#{resource['font/HelveticaNowDisplay-Hairline.eot']}");
    src: local("Helvetica Now Display Hairline"), local("HelveticaNowDisplay-Hairline"), url("#{resource['font/HelveticaNowDisplay-Hairline.eot']}#iefix") format("embedded-opentype"), url("#{resource['font/HelveticaNowDisplay-Hairline.woff2']}") format("woff2"), url("#{resource['font/HelveticaNowDisplay-Hairline.woff']}") format("woff"), url("#{resource['font/HelveticaNowDisplay-Hairline.ttf']}") format("truetype");
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 14px;
    background-color: white;
}

html {
    font-size: 14px;
}

.card {
    background: #ffffff;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #EEEEEE;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
}

.nopad {
    padding: 0;
}

.topbar {
    width: 85%;
    height: 70px;
    background-color: white;
    position: fixed;
    top:0;
    right: 0px;
    box-shadow: 0 2px 12px rgba(0,0,0,.12);
}

.layout-menu-container {
    position: fixed;
    width: 15%;
    height:100%;
    z-index: 999;
    background-color: rgba(33, 150, 243, 0.15);
    top: 0;
    left: 0;
}

.layout-main {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.layout-content {
    padding: 16px;
    flex: 1 1 0;
    margin-left: 15%;
    margin-right: 0px;
}
